body {
	background-image: url(https://images.pexels.com/photos/192933/pexels-photo-192933.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.container {
	background-color: rgba(255, 255, 255, 0.542);
	border-radius: 20px;
}

input, label {
	display: block;
	margin: 5px;
}
.btn {
	margin: 5px;
}


.btn-primary {
	background-color: rgb(0, 0, 0);
}
.btn-primary:hover {
	background-color: rgb(97, 96, 96);
}
#welcome {
	text-align: center;
}
b {
	color: rgb(107, 96, 98);
	text-shadow:2px 1px rgb(223, 173, 127);
}
select {
	background-color: black;
	color:rgb(223, 173, 127);
	padding: 5px;
}


/* links */
a:link {
  color: rgb(223, 223, 223);
}

a:visited {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(102, 102, 102);
	text-decoration: none;
}

a:active {
  color: rgb(124, 102, 115);
}