<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Pierre's Bakery</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a asp-controller="Flavors" asp-action="Index">Flavors</a></li>
      <li><a asp-controller="Treats" asp-action="Index">Treats</a></li>
      <li><a asp-controller="Account" asp-action="Index">Register/Login</a></li>
    </ul>
  </div>
</nav>